<nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: #18521c;">
    <a class="navbar-brand" href="/"><img alt="" src="/images/brand.png" width="32" height="32">SSCRA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav mr-auto">
        
      </ul>
      <ul class="nav nav-pills navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link" href="/report">Report</a></li>
        <li class="nav-item"><a class="nav-link" href="/user/login">Login</a></li>
      </ul>
    </div>
  </nav>
