<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SSCRA</title>
    <meta http-equiv="pragma" content="no-cache" />
    <!-- add links to css available locally -->
  <!-- add script sources -->
  <script src="/javascripts/jquery/jquery.min.js"></script>
  <script src="/javascripts/bootstrap/bootstrap.min.js"></script>
  <!--<script src="../../js/main.js"></script>-->
  <!-- Load the plugin bundle. -->
  <script src="/javascripts/excel.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/excel.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">
  </head>
  <body>
    <% include header.ejs %>
    <div class="container">
      <div class="body">
        <%- body %>
      </div>
    </div>
    <% include footer.ejs %>
  </body>
</html>