<div class="container">
    <div class="row">
      <div class="col-md-12">
        <table id="table" class="table table-bordered table-intel">
          <thead>
            <tr class="table-info">
              <th>Animal</th>
              <th>Class</th>
              <th>Collective Noun</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Bear</td>
              <td>Mammal</td>
              <td>Sleuth</td>
            </tr>
            <tr>
              <td>Ant</td>
              <td>Insect</td>
              <td>Army</td>
            </tr>
            <tr>
              <td>Salamander</td>
              <td>Amphibian</td>
              <td>Congress</td>
            </tr>
            <tr>
              <td>Owl</td>
              <td>Bird</td>
              <td>Parliament</td>
            </tr>
            <tr>
              <td>Frog</td>
              <td>Amphibian</td>
              <td>Army</td>
            </tr>
            <tr>
              <td>Shark</td>
              <td>Fish</td>
              <td>Gam</td>
            </tr>
            <tr>
              <td>Kookaburra</td>
              <td>Bird</td>
              <td>Cackle</td>
            </tr>
            <tr>
              <td>Crow</td>
              <td>Bird</td>
              <td>Murder</td>
            </tr>
            <tr>
              <td>Elephant</td>
              <td>Mammal</td>
              <td>Herd</td>
            </tr>
            <tr>
              <td>Barracude</td>
              <td>Fish</td>
              <td>Grist</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    
  
    <script>
      // Use the plugin once the DOM has been loaded.
      $(function () {
        // Apply the plugin 
        $('#table').excelTableFilter();
      });
    </script>